<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/homework.css">
	<script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/javascripts/homework.js"></script>
</head>
<body>
	<header class="header">
		<h1 class="header-title">WelCome to Noonnightstorm Homework</h1>
		<p class="header-ps">This page is to get some data from taobao,paipai,360buy and anaylsis the data!</p>
	</header>
	<div class="input-box">
		<p class="input-aside">请输入你想查询的商品:</p>
		<div class="input-row">
			<input type="text" id="data-info">
			<input type="submit" value="查询" id="get-data-btn">
		</div>
	</div>
	<div class="store-box">
		<div class="taobao-box">
			<h2 class="store-box-title">淘宝的数据</h2>
			<ul class="store-ul taobao-ul">
				<li class="taobao-item hidden-item">
					<p class="p-name">商品名称:xxxxxxxxxxx</p>
					<p class="p-price">价格:4000</p>
					<p class="p-link"><a href="">查看链接</a></p>
				</li>
			</ul>
		</div>
		<div class="paipai-box">
			<h2 class="store-box-title">拍拍的数据</h2>
			<ul class="store-ul taobao-ul">
				<li class="paipai-item hidden-item">
					<p class="p-name">商品名称:xxxxxxxxxxx</p>
					<p class="p-price">价格:4000</p>
					<p class="p-link"><a href="">查看链接</a></p>
				</li>
			</ul>
		</div>
		<div class="buy-box">
			<h2 class="store-box-title">京东的数据</h2>
			<ul class="store-ul taobao-ul">
				<li class="buy-item hidden-item">
					<p class="p-name">商品名称:xxxxxxxxxxx</p>
					<p class="p-price">价格:4000</p>
					<p class="p-link"><a href="">查看链接</a></p>
				</li>
			</ul>
		</div>
	</div>
	<footer></footer>	
</body>
</html> 
